<title>Multiplayer Snake</title>
<link rel="stylesheet" href="style.css"></link>
<link rel="stylesheet" href="bootstrap.min.css"></link>
<script src="bootstrap.min.js"></script>
<script src="jquery-3.3.1.min.js"></script>
</head>
<body>
	<div class="inline_block main_div">
		<div>
			<div class="col-md-3 inline_block">
			Nombre
			</div>
			<div class="col-md-3 inline_block">Jugadores</div>
			<div class="col-md-3 inline_block">Dificultad</div>
			<div class="col-md-2 inline_block">Modo</div>
		</div>
		<div>
			<div class="jqRooms">
				
			</div>
		</div>
	</div>
	<script src="search_room.js"></script>
	<input type="hidden" id="player_name" value="">
	<script id="room_template" type ="text/x-handlebars-template">
			<div>
				<div class="col-md-3 inline_block">
					<button class="btn-sm jq_start_game" data-room_id="%ID%">%NAME%</button>
				</div>
				<div class="col-md-3 inline_block">%PLAYERS%/4</div>
				<div class="col-md-3 inline_block">%DIFFICULTY%</div>
				<div class="col-md-2 inline_block">Normal</div>
			</div>
	</script>
</body>
</html>