#playground {
	width: 640px;
	height: 480px;
	background-color: #000;
}

#console-container {
	margin-left: 15px;
	width: 300px;
}

.color_div{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    display: inline-block;
}

.name_div{
	display: inline-block;
    vertical-align: top;
    font-weight: 200;
    font-size: 20px;
}

.color_container{
	display:inline-block;
	vertical-align: top;
	padding-top: 15 px;
}

.console {
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height: 480px;
	overflow-y: scroll;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

#console p {
	padding: 0;
	margin: 0;
}

.inline_block{
	display: inline-block;
}

.inline{
	display:inline;
}

.block{
	display:block;
}

.hidden{
	display:none;
}

.align_top{
	vertical-align:top;
}

.main_div{
	width:640px;
	height:480px;
	background: #ffe6e6;
}

.menu_buttons{	
    padding-top: 50%;
    transform: translateY(-40%);	
}

.menu_buttons>div{
	text-align:center;
	margin:auto;
	margin-bottom: 10px;
}

.error{
	color:red;
}

.leaderboar_btn{
    float: right;
    margin: 30px;
}

.border_b{
	border-bottom: 1px solid black;
}